.container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-panel {
  flex: 0 0 50%;
  margin-left: 10%;
}

.leaderboard-header {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.right-panel {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5%;
}

.snake-game-card {
  width: 100%;
}

.header-center {
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  position: relative;
}

canvas {
  border: 1px solid black;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.score {
  position: absolute;
  top: -37px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.leaderboard-card {
  width: 100%;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
