html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: url("./assets/images/background image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
